@import 'setup';

body {
    background: rgb(0,38,128);
    background: linear-gradient(142deg, rgba(0,38,128,1) 26%, rgba(31,96,255,1) 66%, rgba(185,213,255,1) 95%); 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    font-size: 100%;
}

h1 {
    font-size: 2rem;
}

.heroModal {
    position: absolute;
    background-color: transparent;
    background-image: url('./../../assets/heroSplash.jpg');
    background-size: cover;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    height: calc(100vh - 2rem);
}

.boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 2rem);
    // background: yellow;
}

.mainBoard {
    background-color: lightgray;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    -webkit-box-shadow: 0px 10px 65px -13px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 10px 65px -13px rgba(0,0,0,0.68);
    box-shadow: 0px 10px 65px -13px rgba(0,0,0,0.68);
}

article {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
}

article button {
    padding: 1.5rem;
    border: 1px solid rgb(125, 125, 125);
    font-size: 4rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f2f2f2;
    background-image: url('./../../assets/stormCloud.jpg');
    background-size: cover;
}

article button:hover,
article button:focus {
    /* background-color: #fcdf00; */
    transform: scale(1.06);
    border: 1px solid rgb(125, 125, 125);
    -webkit-box-shadow: 0px 10px 47px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 10px 47px -2px rgba(0,0,0,0.68);
    box-shadow: 0px 10px 47px -2px rgba(0,0,0,0.68);
}

article button:active {
    // background-color: #cbb300;
    transform: scale(0.96);
}

span.hide { 
    opacity: 0;
}

.open {
    background-image: none;
}

.hidden {
    visibility: hidden;
}


footer {
    background-color: rgba(185,213,255,1);
    text-align: center;
    height: 2rem;
    line-height: 1.6rem;
}