@import 'setup';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    font-size: 100%;
}

img { width: 100%; }

h1, h2, h3 { 
    font-family: 'Short Stack', cursive;
}

h1 {
    font-size: 2rem;
    line-height: 2.6rem;
    color: white;
}

h2 {
    font-size: 2rem;
    color: #C4AD83; 
    font-weight: bold;
}

h3 {
    font-size: 1.6rem;
    color: #C4AD83; 
}

a {
    color: #000;
    text-decoration: underline;
    &:hover,
    &:focus {
        font-weight: bold;
        text-decoration: none;
    }
}

.hideVerticalOverflow {
    overflow-y: hidden;
}

.wrapper {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.heroModal {
    position: absolute;
    background-color: transparent;
    background-image: url('./../assets/heroSplash.jpg');
    background-size: cover;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    nav {
        border: 4px solid white;
        padding: 2rem;
        width: 60%;
        max-width: 700px;
        text-align: center;
        backdrop-filter: saturate(180%) blur(20px);
        background-color: rgba(0,0,0,0.3);
        p {
            color: white;
            line-height: 1.6rem;
        }
    }
}

.startButton,
.resetButton {
    padding: 0rem 2rem;
    margin-top: 1rem;
    color: white;
    border: 1px solid white;
    font-size: 1.6rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    background-size: cover;
    &:hover,
    &:focus {
        transform: scale(1.06);
        border: 1px solid white;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.startButton {
    text-transform: uppercase;
    &:hover {
        background: rgba(255,255,255,0.3);
    }
}

.resetButton {
    font-size: 1rem;
    padding: 0 0.5rem;
    border: none;
    margin-top: 0;
    background-color: #C4AD83;
}

.boardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: calc(100vh - 2rem);
    background: rgb(90,139,255);
    background: linear-gradient(180deg, rgba(90,139,255,1) 0%, rgba(103,135,213,1) 21%, rgba(185,213,255,1) 69%); 
}

.mainBoard {
    padding: 1.8rem;
    margin: 1.8rem auto;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 65px -13px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 10px 65px -13px rgba(0,0,0,0.68);
    box-shadow: 0px 10px 65px -13px rgba(0,0,0,0.68);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.7);
    .titleBar {
        display: flex;
        justify-content: space-between;
    }
}

article.gameBoard {
    margin-top: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.8rem;
}

article button {
    padding: 1.5rem;
    border: 1px solid rgb(125, 125, 125);
    font-size: 4rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f2f2f2;
    background-image: url('./../assets/arkVector.jpg');
    background-size: cover;
    &:hover {
        transform: scale(1.06);
    }
    &:active {
        transform: scale(0.96);
    }
}

article button:hover, 
article button:focus {
    border: 1px solid dodgerblue;
    -webkit-box-shadow: 0px 10px 47px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 10px 47px -2px rgba(0,0,0,0.68);
    box-shadow: 0px 10px 47px -2px rgba(0,0,0,0.68);
}

span.hide { 
    opacity: 0;
}

.open {
    background-image: none;
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

.negativeZIndex {
    z-index: -10;
}

.winBackground {
    background-image: url('./../assets/giraffeWin.png');
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    background-color: rgba(185,213,255,1);
    text-align: center;
    height: 2rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
}

@media (max-width: 850px) {
    article.gameBoard {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-gap: 0.5rem;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 95%;
    }
}

@media (max-width: 500px) {
    .heroModal nav {
        width: 80%;
    }

    .titleBar {
        flex-direction: column;
        text-align: center;
    }

    .mainBoard {
        padding: 0.5rem;
    }

    .resetButton {
        padding: 0.5rem;
        width: 4rem;
        margin: 1rem auto 0;
    }

    article button {
        padding: 0.5rem;
        font-size: 3rem;
    }

    .mainBoard {
        margin-top: 0;
    }
}