a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  width: 100vw;
  font-size: 100%;
}

img {
  width: 100%;
}

.hideVerticalOverflow {
  overflow-y: hidden;
}

h1, h2, h3 {
  font-family: 'Short Stack', cursive;
}

h1 {
  font-size: 2rem;
  line-height: 2.6rem;
  color: white;
}

h2 {
  font-size: 2rem;
  color: #C4AD83;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
  color: #C4AD83;
}

.wrapper {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.heroModal {
  position: absolute;
  background-color: transparent;
  background-image: url("./../assets/heroSplash.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.heroModal nav {
  border: 4px solid white;
  padding: 2rem;
  width: 60%;
  max-width: 700px;
  text-align: center;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0, 0, 0, 0.3);
}

.heroModal nav p {
  color: white;
  line-height: 1.6rem;
}

.startButton,
.startHardButton,
.resetButton {
  padding: 0rem 2rem;
  margin-top: 1rem;
  color: white;
  border: 1px solid white;
  font-size: 2rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  background-size: cover;
}

.startButton:hover, .startButton:focus,
.startHardButton:hover,
.startHardButton:focus,
.resetButton:hover,
.resetButton:focus {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  border: 1px solid white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.startButton,
.startHardButton {
  text-transform: uppercase;
}

.resetButton {
  font-size: 1rem;
  padding: 0 0.5rem;
  border: none;
  margin-top: 0;
  background-color: #C4AD83;
}

.boardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 2rem);
  background: #5a8bff;
  background: -webkit-gradient(linear, left top, left bottom, from(#5a8bff), color-stop(21%, #6787d5), color-stop(69%, #b9d5ff));
  background: linear-gradient(180deg, #5a8bff 0%, #6787d5 21%, #b9d5ff 69%);
}

.mainBoard {
  padding: 1.8rem;
  margin: 1.8rem auto;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 65px -13px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 10px 65px -13px rgba(0, 0, 0, 0.68);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
}

.mainBoard .titleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article.gameBoard {
  margin-top: 2rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.8rem;
}

article button {
  padding: 1.5rem;
  border: 1px solid #7d7d7d;
  font-size: 4rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f2f2f2;
  background-image: url("./../assets/arkVector.jpg");
  background-size: cover;
}

article button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

article button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

article button:hover,
article button:focus {
  border: 1px solid dodgerblue;
  -webkit-box-shadow: 0px 10px 47px -2px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 10px 47px -2px rgba(0, 0, 0, 0.68);
}

span.hide {
  opacity: 0;
}

.open {
  background-image: none;
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

.negativeZIndex {
  z-index: -10;
}

.winBackground {
  background-image: url("./../assets/giraffeWin.png");
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  background-color: #b9d5ff;
  text-align: center;
  height: 2rem;
  line-height: 1.6rem;
}

@media (max-width: 850px) {
  article.gameBoard {
    margin-top: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[auto];
        grid-template-rows: repeat(auto, 1fr);
    grid-gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .heroModal nav {
    width: 80%;
  }
  .titleBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .mainBoard {
    padding: 0.5rem;
  }
  .resetButton {
    padding: 0.5rem;
    width: 4rem;
    margin: 1rem auto 0;
  }
  article button {
    padding: 0.5rem;
    font-size: 3rem;
  }
  .mainBoard {
    margin-top: 0;
  }
}
